* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;

  margin: 0;
  padding: 0;
  display: flex;
    flex-direction: column;

}

h2,
h3 {
  color: #E65C19;
}

footer {
  background-color: #E65C19;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
}

nav a {
  font-size: 18px;

  font-weight: 400;
  text-decoration: none;

  color: white;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;

}

.profile img {
  width: 200px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;

}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #E65C19;
  text-align: center;
  color: white;
}

nav ul {
  padding-inline: 4rem;
  display: flex;

  gap: 2rem;
}

nav li {
   list-style-type: none;
  margin-right: 20px;
}

 
nav {
  background-color: #E65C19;
  padding: 5px;

  position: sticky;
  top: 0;
}
 
main {
  flex: 1; /* Mengisi ruang yang tersedia */
    padding: 20px;
 
  /* overflow: auto; */
}
 
#konten {
  float: left;
  width: 75%;
}
 
  aside {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center;  /* Center text */
    width: 25%;
    padding-left: 20px;
  }
  
  .profile header, .profile section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile img {
    width: 200px;
    margin-bottom: 20px; /* Memberikan sedikit jarak antara gambar dan teks */
  }
  
  .profile table {
    width: 100%;
    margin-top: 20px;
  }
  
}

header {
  display: inline;
}

@media screen and (max-width: 1000px) {
  #konten, aside {
    width: 100%;
    padding: 0;
  }
}
